
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


body{
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/cork-wallet.png);
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:#929eb0;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}



.profile{
  margin-top: -40px;
}

.profile__img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 2;
  position: relative;
  box-shadow:0 0 1px 3px #edeef0;
  margin-bottom: 20px;
}
.profile__name{
  font-size: 2em;
  background-color: #edeef0;
  padding: 30px;
  padding-left: 50px;
  margin-left: -20px;
  z-index: 1;
  border-radius:0 5px 5px 0;
}
.profile__info{
  display: inline-block;
  background-color: #edeef0;
  border-radius: 5px;
  font-size: 1.5em;
  margin-top: 35px;
  text-align: right;
}

.project{
  width: 90%;
  margin:0 auto;
  background-color: #eee;
  border-radius: 2px;
  padding:20px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
  /*transition: background-color .4s,
              border-radius .4s;*/
  transition: box-shadow .5s;
  display: flex;
  align-items: center;
}
.project:hover{
  /*background-color: #929eb0;*/
  /*border-radius: 5px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.project__img{
  width:50px;
  height:50px;
  border-radius: 3%;
  margin-right: 20px;
}
.project__name{
  font-weight: bold;
  font-size: 1.8rem;
  vertical-align: middle;
  flex-basis: 50%;
}
/*.project__name::before{
  content: '|';
  display: inline-block;
  margin-right: 2px;
}*/
.project__flex-item{
  display: flex;
  flex-direction: column;
}

.project__flex-item:nth-of-type(1) > button{
  margin-bottom: 2px;
}

.board-view-table{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.board-single{
  background-color: pink;
  max-width: 300px;
  width: 300px;
  max-height: 300px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 5px;

}
.board-single .project__img{
  margin-right: 0;
}
.board-single span:first-of-type{
  margin: 10px 0;
  font-weight: bold;
}
.board-single__num span{
  width: 50%;
  min-width: 40px;
  text-align: center;
  display: inline-block;
}