
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


body{
  /*background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/cork-wallet.png);*/
  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
}
.App {
  text-align: center;
}


.App-header {
  /*background-color:#929eb0;*/
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}



.profile{
  margin-top: -40px;
}

.profile__img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 2;
  position: relative;
  box-shadow:0 0 1px 3px #edeef0;
  margin-bottom: 20px;
}
.profile__name{
  font-size: 2em;
  background-color: rgba(220, 66, 37, 0.15);
  color: white;
  padding: 30px;
  padding-left: 50px;
  margin-left: -20px;
  z-index: 1;
  border-radius:13px;
}
.profile__info{
  display: inline-block;
  background-color: #edeef0;
  border-radius: 5px;
  font-size: 1.5em;
  margin-top: 35px;
  text-align: right;
}

.project{
  width: 90%;
  margin:0 auto;
  background-color: #eee;
  border-radius: 2px;
  padding:20px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
  /*transition: background-color .4s,
              border-radius .4s;*/
  transition: box-shadow .5s;
  display: flex;
  align-items: center;
}
.project:hover{
  /*background-color: #929eb0;*/
  /*border-radius: 5px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.project__img{
  width:50px;
  height:50px;
  border-radius: 3%;
  margin-right: 20px;
}
.project__name{
  font-weight: bold;
  font-size: 1.8rem;
  vertical-align: middle;
  flex-basis: 50%;
}
/*.project__name::before{
  content: '|';
  display: inline-block;
  margin-right: 2px;
}*/
.project__flex-item{
  display: flex;
  flex-direction: column;
}

.project__flex-item:nth-of-type(1) > button{
  margin-bottom: 2px;
}

.board-view-table{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.board-single{
  background-color: rgba(255, 255, 255, 1);
  /*box-shadow: inset 0 0 5px 5px #fafafa;*/
  max-width: 300px;
  min-width: 250px;
  max-height: 400px;
  min-height: 300px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  /*padding: 20px 5px;*/

}
.board-single .project__img{
  margin-right: 0;
  width: 80px; 
  height: 80px;
  flex-basis: 20%;
  /*margin-bottom: 10px;*/

}
.board-single > a:first-of-type > span{
  margin: 10px 0;
  font-weight: bold;
  color: black;
  display: block;
  font-size: 1.2em;

}
.board-single__num{
  margin: 5px 0 ;
}
.board-single__num > span{
  width: 50%;
  min-width: 40px;
  text-align: center;
  display: inline-block;

}


.btn-like{
  width: 90%;
  min-width: 30px;
  margin:0 auto;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255,0,0,0.1);
  font-size: 13px;
}
.btn-like .my-eye{
  font-size: 13px;
  margin-right: 2px;
  color: rgba(255,0,0,0.8);
  line-height: 22px;
}
.btn-fork{
  width: 90%;
  min-width: 30px;
  margin:0 auto;
  border: 1px solid blue;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(0,0,255,0.1);
  font-size: 13px;
}
.btn-fork .my-code-fork{
  font-size: 13px;
  margin-right: 2px;
  color: rgba(0,0,255,0.8);
  line-height: 22px;
}
.board-single__btn{
  background-color: rgba(247, 247, 247, 0.7);
  width: 100%;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0;
  line-height: 50px;
}
.board-single__btn a{
  color: black;
  width: 50%;
  display: inline-block;
  border: 1px solid rgba(247, 247, 247, 1);
  cursor: pointer;
}
.board-single__btn a:hover{
  text-decoration: none;
  background-color: rgba(220, 66, 37, 0.5);
  transition:  background-color 0.3s;
}